# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework

# IDE
.idea/
.vscode/
*.iml

# System
.DS_Store
Thumbs.db